<nav class="menu">
    <ul>
        <li>
            <img src="../../../assets/logo.png" alt="Logo de um C" width="40px">
            <span class="logo">Crud users</span>
        </li>
        <li routerLink="/home">
            <mat-icon>home</mat-icon>
            Home
        </li>
        <li routerLink="/crud">
            <mat-icon>person_add</mat-icon>
            Cadastrar usuários
        </li>
        <li>
            <a href="https://firebase.google.com/docs" target="_blank">
                <mat-icon>local_fire_department</mat-icon>
                Firebase
            </a>
        </li>
        <li>
            <a href="https://angular.dev" target="_blank">
                <mat-icon>description</mat-icon>
                Angular
            </a>
        </li>
        <li class="logout" routerLink="/login">
            <mat-icon>logout</mat-icon>
            Sair
        </li>
    </ul>
</nav>